<h1>Stupid Coaching</h1>
<div class="col-12">
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" placeholder="ask a question">
    <%# <input type="submit" value="Ask!"> %>
    <button type="submit" class="btn btn-primary">Ask!</button>
</form>
</div>
